<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @attendance.event.administrator.first_name %> !</h1>
    <p> <%=@attendance.user.first_name%> s'est inscrit à ton évènement <%=@attendance.event.title%> et nous te confirmons sa particiation !</p>
    <p> À très vite pour tes prochains évènements ! </p>
  </body>
</html>