<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.first_name %> !</h1>
    <p> Tu t'es inscrit sur l'èvènement <%=@attendance.event.title%> et nous te confirmons ta particiation !</p>
    <p> À très vite pour tes prochains évènements ! </p>
  </body>
</html>