Hello <%= @attendance.user.first_name %> !
================================

<%=@attendance.user.first_name%> s'est inscrit à ton évènement <%=@attendance.event.title%> et nous te confirmons sa particiation !

À très vite pour tes prochains évènements ! </p>